<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="islove.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:description="@string/app_name"
        android:name=".assets.classes.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IsLove"
        tools:targetApi="m">
        <activity
            android:name=".ShowImages"
            android:exported="false" />
        <activity
            android:name=".BlockThisUserActivity"
            android:exported="false" />
        <activity
            android:name=".LocationPermisionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatConversartionActivity"
            android:exported="true" />
        <activity
            android:name=".VisitReceiverActivity"
            android:exported="true" />
        <activity
            android:name=".FindFrendsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PhoneLoginActivity"
            android:exported="true" />
        <activity
            android:name=".GroupChatActivity"
            android:exported="true" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IsLove.NoActionBar" />

        <service
            android:name=".assets.notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/email" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7286158310312043~7618196022" />
    </application>

</manifest>